name: Auto approve PR from owner

on:
  pull_request:
    types:
      - labeled

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    # Only run if the PR is opened by the owner and the label is "self-review"
    if: github.event.label.name == 'self-review' && github.event.pull_request.user.login == 'idudinov'
    steps:
      - uses: hmarr/auto-approve-action@v4
