name: CI-common-mobx

on:
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]
    branches: [ main ]
    paths:
      - 'packages/common-mobx/**'
  workflow_dispatch:

jobs:
  lint-build-test:
    if: github.event.pull_request.draft != true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install packages
        run: npm i

      - name: Build
        working-directory: ./packages/common-mobx
        run: npm run build

      - name: Lint
        working-directory: ./packages/common-mobx
        run: npm run lint

      - name: Test
        working-directory: ./packages/common-mobx
        run: npm run test

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.COVERALLS_REPO_TOKEN }}
          flag-name: common-mobx
          base-path: packages/common-mobx
